
<div class="library-book-area mg-t-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-cards-item">
                            <div class="single-product-image">
                                <a href="#"><img src="/images/dep.jpg" alt=""></a>
                            </div>
                            <div class="single-product-text">
                                <img src="{{top1.img}}" alt="">
                                <h4><a class="cards-hd-dn" href="#">{{top1.name}}</a></h4>
                                <h5>{{top1.producer}}</h5>
                                
                               
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="cards-dtn">
                                            <h3><span>Top 1</span></h3>
                                            <p>Sản phẩm bán chạy</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="cards-dtn">
                                            <h3><span class="counter">{{top1.quantitySold}}</span></h3>
                                            <p>Được bán ra</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="cards-dtn">
                                            <h3><span>{{top1.name}}</span></h3>
                                            <p>{{top1.producer}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-review-st-item res-mg-t-30 table-mg-t-pro-n">
                            <div class="single-review-st-hd">
                                <h2>TOP 10 SẢN PHẨM BÁN CHẠY</h2>
                            </div>
                            {{#each data}}
                            <div class="single-review-st-text">
                                <img src="{{this.img}}" alt="">
                                <div class="review-ctn-hf">
                                    <h3>{{this.name}}</h3>
                                    <p>{{this.producer}}</p>
                                </div>
                                <div class="review-item-rating">
                                    <h5>Số lượng bán ra: <span class="counter">{{this.quantitySold}}</span> </h5>
                                   
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>