<div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            <form role="search" class="sr-input-func">
                                                <input type="text" placeholder="Search..." class="search-int form-control">
                                                <a href="#"><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Danh sách gian hàng</span>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    {{#each booth}}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                            <div class="panel-body custom-panel-jw">   
                                {{!-- <img alt="logo" class="img-circle m-b" src="{{this.img}}"> --}}
                                <h3><a href="">{{this.name}}</a></h3>
                                <p class="all-pro-ad">{{this.name}}</p>
                                 
                            </div>
                            <div class="course-des">
                                <p><span><i class="fas fa-arrow-right"></i></span> <b>Tên gian hàng: </b>{{this.name}}</p>
                                <p><span><i class="fas fa-arrow-right"></i></span> <b>Số loại sản phẩm</b> {{this.amount}}</p>
                            </div>
                            <div class="product-buttons">
                                <a href="/ChiTietGianHang?name={{this.name}}"><button type="button" class="button-default cart-btn" > <i class="fas fa-eye"></i> Xem sản phẩm</button></a>
                            </div>
                            <br>
                            <div class="product-buttons">
                                <a href="/ThemSanPham"><button type="button" class="button-default cart-btn" ><i class="fas fa-plus-square"></i> Thêm sản phẩm</button></a>
                            </div>
                            <br>
                            <div class="product-buttons">
                                <a href="/XoaGianHang?id={{this.name}}"><button type="button" class="button-default cart-btn" > <i class="fas fa-trash-alt"></i> Xóa gian hàng</button></a>
                            </div>
                            <br>
                            <div class="product-buttons">
                                <a href="/ChinhSuaGianHang?id={{this._id}}"><button type="button" class="button-default cart-btn" ><i class="fas fa-edit"></i> Chỉnh sửa gian hàng</button></a>
                            </div>
                            
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>